__pycache__
*.pyc
*.pyo
.idea
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
Dockerfile.dev
README.md
system-design.md
evaluation.md
support.md
workflow_diagram.png
support-form.html
docker-compose.yml
docker-compose.dev.yml
**/.DS_Store
**/venv
**/env
.pytest_cache
logs
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
cert.crt
cert.key
static/
notes.txt